@using Abp.Web.Mvc.Extensions
@using Microsoft.Owin.Security
@using WhatsIn.Web.Controllers
@using WhatsIn.Application.Dto
@{
    ViewBag.ActiveMenu = "Search"; //The menu item will be active for this page.
}
@section Styles
{
    @Html.IncludeStyle("~/Views/Search/Index.css")
    @Html.IncludeStyle("~/css/Grid.css")
}
@section Scripts
{
    @Html.IncludeScript("~/Views/Search/Index.js")
    @Html.IncludeScript("~/Scripts/jquery.unobtrusive-ajax.min.js")
}
<div class="container">
    <div id="HomeArea" class="row">
        <!--form id="SearchForm" class="form-horizontal" action="@@(Url.Action("Search", "Search"))" method="POST"-->
            <div class="col-lg-12" style="background-color:white;" >
                <div class="rTable">
                    <div class="rTableRow">
                        <div class="rTableCell text-justify form-inline">
                            <span>
                                @L("What")
                                @Html.EJ().DropDownList("ddlCategories").Datasource((IEnumerable<CategoryDto>)ViewData["categories"]).DropDownListFields(df => df.Text("Name").Value("Id")).WatermarkText("Categories").Width("200px")
                            </span>
                        </div>
                    </div>
                    <div class="rTableRow">
                        <div class="rTableCell text-justify">
                            <span>
                                @L("IsIn")
                                @Html.EJ().DropDownList("ddlProvinces").Datasource((IEnumerable<Province>)ViewData["provinces"]).CascadeTo("ddlLocations").DropDownListFields(df => df.ID("parentId").Text("text").Value("parentId")).WatermarkText("Province").Width("250px")
                                @Html.EJ().DropDownList("ddlLocations").Datasource((IEnumerable<Location>)ViewData["locations"]).DropDownListFields(df => df.Text("text").Value("value")).WatermarkText("Cities").Width("250px")
                            </span>
                        </div>
                    </div>
                    <div class="rTableRow">
                        <div class="rTableCell text-justify">
                            <button id="SearchButton" type="submit" class="btn btn-primary blue"><i class="fa fa-search"></i> @L("TakeALook")</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="grid-container">
                        <div class="rTable">
                            <div class="rTableRow">
                                <div class="rTableHead" style="width:40%;"></div>
                                <div class="rTableHead">&nbsp;</div>
                                <div class="rTableHead">&nbsp;</div>
                            </div>
                        </div>
                        <div id="SearchResult" class="text-left"></div>
                       
                    </div>
                </div>
            </div>
        <!--/form-->
    </div>
</div>