@using WhatsIn.Users
@using WhatsIn.Web.Models.Common.Modals

@model  WhatsIn.Web.Models.StoreViewModel

@{
    ViewBag.ActiveMenu = "Detail"; //The menu item will be active for this page.
}
<div class="row">
    <div class="col-xs-6">
        <div class="page-head">
            <div class="page-title">
                <h1>
                    <span>@L("Detail")</span>
                </h1>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <form role="form" novalidate class="form-validation">
            <div class="col-md-4">
                <!--h3>Basic Information</!--h3-->
                @if (Model.IsEditMode)
                {
                    <input type="hidden" name="Id" value="@Model.Id" />
                        <input type="hidden" name="DateCreated" value="@Model.DateCreated" />
                        <input type="hidden" name="CreatedBy" value="@Model.CreatedBy" />
                }
                <!--div class="form-group form-md-line-input form-md-floating-label no-hint">
                    <img id="imgGallery" alt="No Image" style="height:100px; width:100px;" />
                </div-->
                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                    <img id="imgPreview" alt="No Image" height="200" width="200" src="@Url.Content(string.Concat("/Uploads/Logos/",Model.LogoPath))" /><br />
                    <input type="file" id="UploadImg" />
                    <label>@L("UploadLogo")</label>
                    <input type="hidden" id="txtImg" name="GalleryPath" value="@Model.LogoPath" size="50" />
                </div>
                <br />
                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                    <input class="form-control" type="text" name="Name" required value="@Model.Name">
                    <label>@L("Name")</label>
                </div>
                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                    <input type="text" name="Description" class="form-control" required value="@Model.Description">
                    <label>@L("Description")</label>
                </div>
                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                    <input type="text" name="Email" class="form-control" required value="@Model.Email">
                    <label>@L("Email")</label>
                </div>
                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                    <input type="text" name="Schedule" class="form-control" required value="@Model.Schedule">
                    <label>@L("Schedule")</label>
                </div>
            </div>
            <div class="col-md-2">
            </div>
            <div class="col-md-4">
                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                    <input type="text" name="ContactNum" class="form-control" required value="@Model.ContactNum">
                    <label>@L("ContactNumber")</label>
                </div>
                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                    <input type="text" name="Address1" class="form-control" required value="@Model.Address1">
                    <label>@L("Address1")</label>
                </div>
                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                    <input type="text" name="Address2" class="form-control" required value="@Model.Address2">
                    <label>@L("Address2")</label>
                </div>
                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                    <input type="text" name="LocationId" class="form-control" required value="@Model.LocationId">
                    <label>@L("Location")</label>
                </div>
                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                    <input type="text" name="PostalCode" class="form-control" required value="@Model.PostalCode">
                    <label>@L("PostalCode")</label>
                </div>



                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                    <input type="text" name="FacebookPage" class="form-control" required value="@Model.FacebookPage">
                    <label>@L("FacebookPage")</label>
                </div>
                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                    <input type="text" name="TwitterPage" class="form-control" required value="@Model.TwitterPage">
                    <label>@L("TwitterPage")</label>
                </div>
                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                    <input type="text" name="InstagramPage" class="form-control" required value="@Model.InstagramPage">
                    <label>@L("InstagramPage")</label>
                </div>
            </div>
            <div class="col-md-2">
            </div>
        </form>
    </div>

</div>