@using Abp.Web.Mvc.Extensions
@using Microsoft.Owin.Security
@using WhatsIn.Web.Controllers
@using WhatsIn.Application.Dto
@{
    ViewBag.ActiveMenu = "Home"; //The menu item will be active for this page.
}
@section Styles
{
    @Html.IncludeStyle("~/Views/Home/Index.css")
}
<div class="container">
    <div id="HomeArea" class="row">
        <form role="form" id="DetailForm" novalidate class="form-validation">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                <h1>@L("What")</h1>
                <div class="form-group form-md-line-input form-md-floating-label no-hint aligncenter">
                    @Html.EJ().DropDownList("ddlCategories").Datasource((IEnumerable<CategoryDto>)ViewData["categories"]).DropDownListFields(df => df.Text("Name").Value("Id")).WatermarkText("Categories").Width("400px")
                </div>
                <h1>@L("IsIn")</h1>
                <div class="form-group form-md-line-input form-md-floating-label no-hint aligncenter">
                    @Html.EJ().DropDownList("ddlProvinces").Datasource((IEnumerable<Province>)ViewData["provinces"]).CascadeTo("ddlLocations").DropDownListFields(df => df.ID("parentId").Text("text").Value("parentId")).WatermarkText("Province").Width("400px")
                </div>
                <div class="form-group form-md-line-input form-md-floating-label no-hint aligncenter">
                    @Html.EJ().DropDownList("ddlLocations").Datasource((IEnumerable<Location>)ViewData["locations"]).DropDownListFields(df => df.Text("text").Value("value")).WatermarkText("Cities").Width("400px")
                </div>
                <div class="form-group form-md-line-input form-md-floating-label no-hint aligncenter text-center">
                    <button id="SaveDetails" class="btn btn-primary blue"><i class="fa fa-search"></i> @L("TakeALook")</button>
                </div>

            </div>
            <div class="col-md-4">
            </div>
        </form>
    </div>
</div>