@using Abp.Authorization.Users
@using Abp.Web.Mvc.Extensions
@using WhatsIn.Web.Navigation
@using WhatsIn.Web.Models

@model List<LocationViewModel>

<div class="row">
    <div class="col-md-12">
        <div class="col-xs-12 text-right">
            <button id="CreateNewLocationButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("CreateNewLocation")</button>
        </div>
        <div class="rTable grid-container">
            <div class="rTableRow">
                <div class="rTableHead">&nbsp;</div>
                <div class="rTableHead">@L("Name")</div>
                <div class="rTableHead">@L("Description")</div>
                <div class="rTableHead">&nbsp;</div>
                <div class="rTableHead">&nbsp;</div>
            </div>
            @foreach (var item in Model)
                {
                <div id="@item.Id" class="rTableRow grid-parent" expandgrid="0">
                    <div class="rTableCell">@item.Name</div>
                    <div class="rTableCell">@item.Description</div>
                    <div class="rTableCell"><input type="hidden" class="userId" /></div>
                    <div class="rTableCell">
                        <button data-toggle="modal" id="@item.Id" class="btn btn-circle btn-xs red UpdateLocationButton"><span class="fa fa-edit"></span></button>
                        <button id="@item.Id" class="btn btn-circle btn-xs red DeleteLocationButton-@item.Id"><span class="fa fa-trash"></span></button>
                    </div>
                </div>
                <div id="@item.Id" class="rTableRow grid-child">
                    <div class="rTableCell">&nbsp;</div>
                    <div class="rTableCell">&nbsp;</div>
                    <div class="rTableCell">&nbsp;</div>
                    <div class="rTableCell">&nbsp;</div>
                </div>
                }
        </div>
    </div>
</div>

