@using Abp.Authorization.Users
@using Abp.Web.Mvc.Extensions
@using WhatsIn.Web.Navigation
@using WhatsIn.Application.Dto

@model List<LocationDto>

<div class="row">

    <input type="hidden" id="provid" class="provid" value="@ViewData["provinceId"]" />
    <button id="CreateNewLocationButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("CreateNewLocation")</button>
</div>
<div class="rTable grid-container">
    <div class="rTableRow">
        <div class="rTableHead">&nbsp;</div>
        <div class="rTableHead">@L("Name")</div>
        <div class="rTableHead">@L("Description")</div>
        <div class="rTableHead">&nbsp;</div>
        <div class="rTableHead">&nbsp;</div>
    </div>
    @foreach (var item in Model)
    {
        <div id="@item.Id" class="rTableRow grid-parent" expandgrid="0">
            <div class="rTableCell">@item.Name</div>
            <div class="rTableCell">@item.Description</div>
            <div class="rTableCell"><input type="hidden" class="userId" /></div>
            <div class="rTableCell">
                <button data-toggle="modal" id="@item.Id" class="btn btn-circle btn-xs red UpdateLocationButton"><span class="fa fa-edit"></span></button>
                <button id="@item.Id" class="btn btn-circle btn-xs red DeleteLocationButton-@item.Id"><span class="fa fa-trash"></span></button>
            </div>
        </div>
                <div id="@item.Id" class="rTableRow grid-child">
                    <div class="rTableCell">&nbsp;</div>
                    <div class="rTableCell">&nbsp;</div>
                    <div class="rTableCell">&nbsp;</div>
                    <div class="rTableCell">&nbsp;</div>
                </div>
    }
</div>

<script>

    var _upsertLocationModal = new app.ModalManager({
        viewUrl: abp.appPath + 'Locations/UpsertLocationModal',
        scriptUrl: abp.appPath + 'Views/Locations/_UpsertLocationModal.js',
        modalClass: 'UpsertLocationModal'
    });

    $('#CreateNewLocationButton').click(function (e) {
        e.preventDefault();
        var provid = $('#provid').val();
        alert(provid);
        _upsertLocationModal.open({ provinceId: provid });
    });

    $('.UpdateLocationButton').click(function (e) {
        e.preventDefault();
        var locationid = $(this).prop('id');
        _upsertLocationModal.open({ id: locationid });
    });

    var _locationService = abp.services.app.location;

    $('.DeleteLocationButton').click(function (e) {
        e.preventDefault();

        var id = $(this).prop('id');

        abp.message.confirm(
            app.localize('AreYouSureToDeleteTheRecord'),
            function (isConfirmed) {
                if (isConfirmed) {
                    _locationService.deleteLocation(id).done(function () {
                        abp.notify.info(app.localize('SuccessfullyDeleted'));
                        location.reload();
                    });
                    alert(id);
                }
            }
        );
    });
</script>
