@using WhatsIn.Users
@using WhatsIn.Web.Models.Common.Modals

@Html.Partial("~/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("CreateNewLocation")))

@model  WhatsIn.Web.Models.LocationViewModel

<div class="modal-body">
    <form role="form" novalidate class="form-validation">
        <h3>Basic Information</h3>
        @if (Model.IsEditMode)
        {
            <input type="hidden" name="Id" value="@Model.Id" />
            <input type="hidden" name="ProvinceId" value="@Model.ProvinceId" />
            <input type="hidden" name="DateCreated" value="@Model.DateCreated" />
            <input type="hidden" name="CreatedBy" value="@Model.CreatedBy" />
            <input type="hidden" name="CreatedBy" value="@Model.CreatedBy" />
        }
        else
        {
            <input type="hidden" name="ProvinceId" value="@Model.ProvinceId" />
        }
        <div class="form-group form-md-line-input form-md-floating-label no-hint">
            <input class="form-control" type="text" name="Name" required value="@Model.Name">
            <label>@L("Name")</label>
        </div>

        <div class="form-group form-md-line-input form-md-floating-label no-hint">
            <input type="text" name="Description" class="form-control" required value="@Model.Description">
            <label>@L("Description")</label>
        </div>
    </form>
</div>

@Html.Partial("~/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")
